[2020-03-30 07:36] ds-ms opened #2 "Parse logs to help debug"
![image](https://user-images.githubusercontent.com/25762922/77886826-2bd8c780-7287-11ea-8e98-869bcdef2e84.png)
I have enabled debug mode; but I still see that the logs aren't printed

cc: @shigupt202

[2020-03-30 08:11] shigupt202 commented on #2
Do you mean the cause of the error? I've not raised a PR for that yet.

[2020-03-30 12:42] ds-ms opened #3 "Add Tests and Setup CI"

[2020-04-02 17:24] #2 closed

[2020-04-21 09:27] shigupt202 opened #11 "Update input name for image in end to end section of README"
![image](https://user-images.githubusercontent.com/57620559/79849670-647c4480-83e0-11ea-9c0f-f892e57a047a.png)
This should be replaced with image-name

[2020-04-21 09:44] ajinkya599 opened #12 "README is out of sync with final spec."
README needs to be updated to be in sync with the final spec.

[2020-04-21 09:45] ajinkya599 opened #13 "Validate inputs beforehand"
Validate the inputs before processing.
ex. If `image-name` is not provided the action fails with some cryptic error message.

[2020-04-21 12:36] shigupt202 commented on #12
1. This should be replaced with image-name

![image](https://user-images.githubusercontent.com/57620559/79866603-a5815280-83fa-11ea-8a6e-2b277282a95c.png)

2. We should explicitly mention in README that checkout action should be used before container-scan action. Otherwise, even if whitelist file is present at right location, the action won't be able to read it.

[2020-04-21 12:37] shigupt202 commented on #11
Duplicate https://github.com/Azure/container-scan/issues/12

[2020-04-21 12:37] #11 closed

[2020-04-28 09:40] ds-ms commented on #12
Who changed this to `image-name` and why?

[2020-04-29 06:06] #13 closed

[2020-04-29 09:47] #12 closed

[2020-05-07 08:49] ddotpdot opened #21 "Not available on Github actions store"
This seems to be quite a helpful action for the community.

It seems like the azure/container-scan@v1 is not available on the github actions marketplace.
Is it not published yet? https://github.com/marketplace?type=actions

[2020-05-07 09:14] ds-ms commented on #21
@ddotpdot We'll be publishing it soon!

[2020-05-07 10:21] ddotpdot commented on #21
@ds-ms  great! will check it out. thanks

[2020-05-07 13:00] bb-deepak commented on #21
@ds-ms
works great.
where can i share some suggestions and improvements and possibly PR's?

[2020-05-07 13:00] ddotpdot commented on #21
@ds-ms
works great.
where can i share some suggestions and improvements and possibly PR's?

[2020-05-07 13:13] ds-ms commented on #21
You can post your suggestions & improvements on this repo. 😃
Create an issue for feature request or some bugs you found.

[2020-05-16 18:04] ajinkya599 opened #22 "Review the message shown when the app is not installed."
- Review the message.
- Should we change something with automatic app installation?

[2020-05-17 05:24] jonpulsifer commented on #21
Soon is ten days ago and people are looking at this now, can we get this out the door? 😄 🚀

[2020-05-17 06:31] ds-ms commented on #21
@jonpulsifer I did a `Pre-Release` of this action: https://github.com/marketplace/actions/container-image-scan

We had some moving pieces so didn't release it till now. But I don't see any harm in doing a pre-release.

You're free to use it now; but there are still are some, potentially breaking, changes to come! You'll want to upgrade to that eventually. Will keep you posted on this.

Keeping thi

[2020-05-17 06:33] jonpulsifer commented on #21
Thanks! We are playing with `azure/container-scan@releases/v0` for now as you mentioned and will keep an eye out

[2020-05-18 21:38] jonpulsifer commented on #21
Thanks again friends, the pre-release is working great for us.

[2020-05-19 16:29] klautcomputing opened #25 "Inaccurate reports?"
We are seeing CVEs getting reported here https://github.com/CovidShield/portal/runs/689671942
but our version should not be affected anymore see https://github.com/CovidShield/portal/blob/master/Gemfile.lock#L160
Any idea why that's happening?

[2020-05-20 18:25] tylerauerbeck opened #26 "Provide flag to not fail action if thresholds are met"
I'm currently trying to add this action to my workflow and would like to be able to proceed with additional steps of my job after this scan is run. Currently the action fails after this scan because of high vulnerabilities, which in turn doesn't allow these steps to run. Is this already possible? Or would this be something that could added?

[2020-05-25 09:35] shigupt202 commented on #26
@tylerauerbeck You can use `continue-on-error: true` along with the action in your workflow.
Please refer to this for more information about continue-on-error: https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idcontinue-on-error

[2020-05-25 10:32] shigupt202 commented on #25
@klautcomputing The action is detecting this `rake` vulnerability probably because some of the other gems that you're using, like `rack-proxy`, are using older versions of rake.
This shows that the version of rake being used is much older: https://github.com/ncr/rack-proxy/blob/master/Gemfile.lock#L14

[2020-05-26 08:07] #26 closed

[2020-05-28 06:55] shigupt202 opened #28 "Multiple occurrences of same vulnerabilities in Trivy's output"
We can see multiple occurrences of same CVE's in the output. This is because same vulnerability can be present in multiple packages used in the image. Also, it's not very intuitive to identify the source (package) of the vulnerability from the output.
We can add another field to indicate the package in which each CVE is found to resolve both these issues.

![image](https://user-images.githubuserco

[2020-05-28 13:01] shigupt202 commented on #28
cc: @ammohant @azooinmyluggage

[2020-05-29 03:33] ds-ms commented on #28
Is there a way to differentiate if you directly use the tool though?

[2020-05-29 04:29] shigupt202 commented on #28
Yes, Trivy's output contains a `Target` field which can be used to identify the source of vulnerabilities.

[2020-05-29 04:33] ds-ms commented on #28
Is it sparse or does it have data for every entry? If it isn't sparse, then `target` seems like an expected column addition.
We probably shouldn't truncate that data!

[2020-05-29 04:38] shigupt202 commented on #28
It's slightly different from the other fields. The detected vulnerabilities are grouped on the basis of package in which they were detected. So each target is associated with a bunch of vulnerabilities.
![image](https://user-images.githubusercontent.com/57620559/83221750-41d60c00-a194-11ea-8ff6-7daee047fb1a.png)

[2020-05-29 13:39] ajinkya599 commented on #28
We should append `target` to each row. That's useful information!

[2020-06-03 09:10] ds-ms commented on #28
I agree with @ajinkya599

[2020-06-24 20:45] grzesuav opened #35 "Vague error message : `Looks like the scanitizer app is not installed on the repo`"
[code]

what is `scanitizer` app ?  There is no mention of it in README, also I tried to search on Github Marketplace but no luck

[2020-06-25 18:13] ds-ms commented on #35
This is Work In Progress @grzesuav that's one of the reasons why this action is still in `Pre-Release`

cc: @ajinkya599 / @shigupt202

[2020-06-25 18:13] #3 closed

[2020-06-30 10:39] ds-ms commented on #22
@ajinkya599  were these reviewed?

[2020-07-01 07:02] shigupt202 commented on #35
You can now install [Scanitizer](https://github.com/apps/scanitizer) app on your repo (though it's still in beta). Let us know if you have any suggestions or feedbacks. 😃

[2020-07-01 07:02] #35 closed

[2020-07-01 07:03] shigupt202 opened #40 "Update README with the details of Scanitizer app"

[2020-07-30 05:06] #25 closed

[2020-07-30 05:38] #40 closed

[2020-10-01 17:55] bogdanbarna opened #46 "Image name as environment variable is not parsed"
### Description

Hello. Really like this action as it bundles together some my favorite container CI utilities.
I've noticed an issue that does not seem documented anymore, though: it doesn't parse environment variables set in the job.

### Expected

When referencing the Docker image name stored as an environment variable (example below), the `container-scan` Action is able to parse it.
e.g.

[cod

[2020-10-05 07:09] ds-ms commented on #46
You might want to use ${{env.IMAGE_NAME}} if it's a part of your workflow.

[2020-10-12 10:31] bogdanbarna commented on #46
Hi. Sorry for my late response. Using `${{env.IMAGE_NAME}}` instead of `$IMAGE_NAME worked, thank you.

[2020-10-12 10:31] #46 closed

[2020-11-29 20:50] blairdrummond opened #49 "Fails on Local image?"
Our scans seem to be failing when used on an image within the github action

https://github.com/StatCan/kubeflow-containers/runs/1467927330#step:6:24

The error no-longer occurs if we scan an image that has already been pushed to the acr. (But, of course, we'd prefer to scan *before* pushing)

Is this expected behaviour? Do you have any recommendations for how to address this?

[2020-11-30 06:13] shigupt202 commented on #49
@blairdrummond This seems to be an issue with the underlying tool, Trivy that the action is using. Here are a few possible solutions that I could find:
1. Try scanning the local image without giving it a label
2. Set an environment variable `TRIVY_TIMEOUT_SEC=360s` on the GitHub runner.

[2020-11-30 12:28] blairdrummond commented on #49
Thanks! Sorry, it makes sense that this is an issue with the upstream tool not this action. I will move the issue.

[2020-11-30 12:28] #49 closed

[2020-12-02 06:46] ds-ms commented on #21
This action has been released in the marketplace.

[2020-12-02 06:46] #21 closed

[2020-12-02 06:52] ds-ms commented on #22
Closing this issue. Assuming @azooinmyluggage has no apprehensions 😄

[2020-12-02 06:52] #22 closed

[2020-12-02 06:54] ds-ms commented on #28
@ammohant @ajinkya599 should we go ahead with this enhancement then?

[2020-12-21 16:55] ds-ms commented on #28
Paging @ammohant @ajinkya599 @shigupt202

[2020-12-22 05:51] shigupt202 commented on #28
Adding @anraghun

[2020-12-22 05:53] anraghun commented on #28
Yes, this looks good to me. If trivy is providing `target`, then we should surface it.

[2020-12-22 10:14] ammohant commented on #28
Is there an ask where we need to list unique vulnerabilities across packages ?

[2020-12-22 10:16] shigupt202 commented on #28
@ammohant Not knowing the source of the package can cause some confusion. For instance, one user reported this [issue](https://github.com/Azure/container-scan/issues/25).

[2020-12-22 10:26] ammohant commented on #28
No Iam not saying that  target is not the identifier.  I am saying that in ADDITION should be interpret this and have a view which presents unique vulnerabilities -> list of package/target.   The question I had was has there been such an ask which will help many.  Of course, it can be inferred given the curr output but is a different view is need from people ?

[2020-12-22 10:29] shigupt202 commented on #28
So far, we have not received any such requests from the users (apart from the aforementioned issue). But we can consider updating the check run view in case people face any such confusion.

[2020-12-23 04:44] #28 closed

[2021-01-20 16:40] grzesuav opened #59 "Allow to scan multiple image variants in one go"
I build several variants of the image (`alpine`/`distroless`), would it be possible to specify several images to scan instead of necessity to define scan job multiple times ?

[2021-02-10 12:43] mateus-amarante opened #61 "Suggestion: expose ignore-unfixed option of trivy"
I suggest adding an option to set the --ignore-unfixed flag of [trivy](https://github.com/aquasecurity/trivy). Personally, I'm more interested in this selected group, and it makes me opt for [trivy-action](https://github.com/aquasecurity/trivy-action) to check vulnerabilities in my repositories.

[2021-02-10 14:04] mateus-amarante commented on #61
Actually, I've just noticed there exists the environment variable TRIVY_IGNORE_UNFIXED. I think it works very well for me. Then, I'm closing the issue.

[2021-02-10 14:04] #61 closed

[2021-02-15 07:08] azooinmyluggage commented on #59
@ ammohant this looks like a fair ask. Will this change anything for the ASC scenario?

[2021-02-15 09:24] ammohant commented on #59
@azooinmyluggage  - Supporting this will be a superset of current ASC requirements. Nothing changes for ASC as such

[2021-02-15 12:58] azooinmyluggage commented on #59
@grzesuav It will take us a sprint or two to prioritize this. We are open for contribution :)
Let us know either way. Thanks!!

[2021-02-16 22:59] grzesuav commented on #59
thanks :)

[2021-02-16 23:01] grzesuav opened #65 "Add comments on vulnerable places"
Would be useful if scan would finish with comments added in PR in problematic places

[2021-02-17 02:26] scottwestover opened #66 "Failed to download trivy"
We are trying to integrate this action with one of our current workflows in a private repo, but our workflow keeps failing with the following error:

[code]

I went ahead and enabled additional logging by setting the `ACTIONS_RUNNER_DEBUG` and `ACTIONS_STEP_DEBUG` secrets to `true`, and we are seeing the following logs:

[code]

Additional information about environment:
[code]

By chance, has anyo

[2021-02-17 06:09] shigupt202 commented on #66
@scottwestover Are you using a private runner to run this workflow? It may be possible that the firewall rules on the runner are not allowing the action to download the tool. If you're using GitHub hosted runners, then this shouldn't be the problem.

[2021-02-17 06:13] shigupt202 commented on #65
@grzesuav We do have an app ([Scanitizer](https://github.com/apps/scanitizer)) which comments on the PR's and also creates a commit to add an allowedlist file for the vulnerabilities. However, the capabilities of the app are limited to allowedlist file currently.

[2021-02-17 06:26] ds-ms commented on #66
@shigupt202 if that's the case, we should consider adding support for downloading this behind a proxy?

[2021-02-17 16:56] scottwestover commented on #66
@shigupt202 Thanks for the quick response. We are using the GitHub hosted runner. In this particular repo, we are trying to run the action on a branch that is not the default branch for the repo. After some more testing, I was able to get the action to work correct on the default branch for the repo, but if I have a workflow that runs on a non default branch, the action fails to run.

As an exampl

[2021-02-18 06:15] azooinmyluggage commented on #59
@grzesuav PR or no PR? :)
Do let us know. Ok both ways

[2021-02-18 07:54] shigupt202 commented on #66
Branch shouldn't have any corelation with downloading of the tool. Can you confirm whether this issue is intermittent on the affected branch, or it happens every time? And is it working in other repos?
I'm not sure what caused the issue, but we can add some extra information in the logs about the error.

[2021-02-18 13:12] scottwestover commented on #66
Unfortunately, the issue happens every time on this particular branch, and this action works correctly in the other repos that I have utilized it in. I've tried to recreate the issue, and have not been able to do so successfully.

I do appreciate the quick responses, and the help you have given. I think adding additional logs would be helpful. I can work on submitting a PR for this.

[2021-02-18 13:16] shigupt202 commented on #66
Thanks! All you need to do is include the error message in the logs here: https://github.com/Azure/container-scan/blob/master/src/trivyHelper.ts#L73

[2021-02-19 21:15] grzesuav commented on #65
thanks, will check it out

[2021-02-19 21:15] #65 closed

[2021-02-19 21:16] grzesuav commented on #59
hi, unfortunately cannot commit to anything in near future

[2021-02-25 16:01] JeffreyArt1 opened #67 "Dockle scan fails due to invalid username/password combo"
**Trivy check runs successfully according to log**
[code]

**But after Dockle initializes we get this message:**
[code]

**The action seems to be taking the credentials we provided**
[code]
We know our credentials are right, because are being used by other actions.

Any idea of what's going on? What i'm missing?

[2021-02-26 05:07] shigupt202 commented on #67
@JeffreyArt1 Thanks for reporting the issue. I was also able to reproduce this for images pulled from ACR. Looks like this is an issue with Dockle not supporting ACR. I have opened an issue on Dockle repo for the same [here](https://github.com/goodwithtech/dockle/issues/106).

[2021-02-26 05:49] shigupt202 commented on #67
As a workaround, you can pull the ACR image before running the container-scan action.

[2021-02-26 09:29] ajinkya599 opened #68 "Add an example of the scan report generated by the action."
Would be good to document the format in which the action outputs the scan report.

[2021-03-01 13:49] JeffreyArt1 commented on #67
I'll give it a try

[2021-03-02 12:20] tomoyamachi commented on #67
@JeffreyArt1 Thank you for the report. That was a Dockle's bug and I fixed it.
For details, see [this issue](https://github.com/goodwithtech/dockle/issues/106).

[2021-03-02 14:16] JeffreyArt1 commented on #67
Thanks @tomoyamachi, the issue is now fixed.

[2021-03-02 14:16] #67 closed

[2021-03-08 08:51] shigupt202 commented on #66
@scottwestover Can you please try again now, and share the logs? I have added the logic to include error message in logs.

[2021-03-10 05:32] shigupt202 commented on #66
Thanks for the new logs. It looks like when Trivy version changed, the action was not able to find it in the cache and tried to download the new version on the path where old version was already present (This issue should be happening with workflows running on self-hosted runners only). I'll create a PR to fix this.
Can you confirm whether the action was working earlier? (From what I understand, i

[2021-03-10 13:13] scottwestover commented on #66
Thanks for the update!

No, we are not using self hosted runners, we have everything going through the GitHub runner. We have this action setup on multiple repos, and this issue has only happened in the one repo, otherwise it has been working flawlessly without any issues.

This one repo was setup a little bit differently than our other repos since we were trying a few new CI workflows. I went thr

[2021-03-10 15:18] shigupt202 commented on #66
Sorry for the misinterpretation. I was under the assumption that you're using self-hosted runners. But if that's not true, then my understanding about the cause was not correct.
I tried to repro it by running different scenarios, like trying to run multiple jobs with the action but it worked for me every time. Let me know if you find out any more information about how this branch differs from the

[2021-03-10 15:41] scottwestover commented on #66
Thanks for the quick response. We haven't been able to pin down how this one branch/repo is different, will try to investigate further.

I also tried to recreate the issue, and have had no success in doing so. We are able to run this action on the `non-default` branch in this repo, and it downloads trivy without any issues. However, as soon as I setup this action on our `develop` branch, it fails.

[2021-03-13 23:47] akphi opened #71 "Got warning message in CI pipeline"
Hi,

I see this warning in my pipeline and I don't really know where it comes from:
https://github.com/finos/legend-shared/runs/2104257137?check_suite_focus=true

[code]

[2021-03-15 06:25] ds-ms commented on #71
@akphi is this happening consistently?

[2021-03-15 06:30] ds-ms commented on #71
Have you tried installing this app: https://github.com/apps/scanitizer on your repo?
Perhaps it's failing because of that. While posting the check-run, the action interacts with this app. You can find the link for the same above this section: https://github.com/Azure/container-scan#example-yaml-snippets

@shigupt202 didn't we have a more verbose warning before?

[2021-03-15 06:38] shigupt202 commented on #71
@ajinkya599 might have more context on this.

[2021-03-15 06:40] ds-ms commented on #71
@ajinkya599 / @shigupt202 we should also consider fixing the README to highlight the app installation instructions maybe? Cause it's public now

[2021-03-15 07:07] shigupt202 commented on #66
Closing the issue for now. Feel free to reopen if you find more information about the issue, or face it in other scenarios as well.

[2021-03-15 07:07] #66 closed

[2021-03-15 13:50] akphi commented on #71
@ds-ms in the README, it says that this is totally optional and I feel that it should be so, especially when we don't have a lot of docs on what the app is about (we clearly don't have any doc about the app there), and generally, I would prefer to not install too many applications to my repo unless it's absolutely necessary.

I understand it's just a warning so it's not blocking, but I think it wo

[2021-03-16 06:06] ds-ms commented on #71
We were banking on the GitHub Action's token for creating a check run if the app wasn't installed. Based on the permissions listed here: https://docs.github.com/en/actions/reference/authentication-in-a-workflow#permissions-for-the-github_token it should have been able to do it, unless if yours is a forked repo.
@shigupt202 perhaps we should make this error a little more verbose to point out that i

[2021-03-16 14:03] akphi commented on #71
Hm, that's a fair point, but here I thought the idea is to tell people to install `Scanitizer`, but like I explained, not every user would like to install the application, given that the job of the application is to post comments to PR, so yes, we can be verbose if the application is not installed, but if the users intentionally choose not to install the app, there should be a way to suppress that

[2021-03-16 14:18] shigupt202 commented on #71
@akphi Just want to clarify that this error that you're seeing in the logs is not because you've not installed `Scanitizer`. We just print this message (not a warning or error) in the logs in case the app is not present, and create a check run locally from the action. The users are free to use the action without getting any warnings/errors even if they don't install `Scanitizer`.
[code]
You're see

[2021-03-16 14:28] akphi commented on #71
Got it. So when we're in the CI running on `master`, I should see no warning whatsoever then. Then yes, it makes sense to make it more comprehensible like what @ds-ms was saying, though please don't leverage it too much to become a [`github-actions` warning](https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#setting-a-warning-message), a normal warning print in the l

[2021-03-17 16:38] #71 closed

[2021-03-18 08:44] #68 closed

[2021-03-22 16:15] mhabegger opened #73 "Use in DevOps YAML Pipelines?"
Great action for Github!
Is there already a way to use this on Azure DevOps pipelines as well?
If not, any plans to support DevOps pipelines?

[2021-03-30 06:14] shigupt202 commented on #73
@mhabegger Thanks for the feedback. The action is currently available for GitHub only.
@ds-ms @azooinmyluggage Any pointer about the support for Azure Devops pipelines?

[2021-03-31 07:49] ds-ms commented on #73
I don't think it's planned as of today, but if we see more customers requesting it, we could eventually add it to our backlogs.

People can always reuse the code from this action and build their own Azure Pipeline task and publish it to their orgs using `tfs cli`. The major change would be the under like `@actions/*` libraries vs `azure-pipelines-task-lib`.

[2021-03-31 07:49] #73 closed

[2021-03-31 07:50] ds-ms commented on #59
@shigupt202 would you like to pick this up?

[2021-04-01 20:28] mhabegger commented on #73
If anyone's interested here's what we ended up using in Azure DevOps:

[code]

[2021-04-15 06:32] erzz opened #76 "Incorrect and incomplete documentation of allowedlist.yaml and other ignores"
Whitelisting according to docs doesn't work. Here are my findings so far

Readme currently states to use `.github/containerscan/whitelist.yaml` when digging through source it shows you actually look for `.github/containerscan/allowedlist.yaml`

Source also seems to indicate that you also observe the standard ignore files for both trivy and dockle. Thus is would be nice if you indicated that in the

[2021-04-15 12:32] shigupt202 commented on #76
@erzz Could you share the link where whitelist is specified instead of allowedlist? We would work on updating that. In the README, I can see that allowedlist.yaml is specified. Ref: https://github.com/Azure/container-scan#ignoring-vulnerabilities
Also, can you share the debug logs of the action? The whitelistfile path (if any) is also logged.

[2021-04-15 12:37] erzz commented on #76
the link was the releases (my bad) not sure how I ended up there when I was trying to use it.

But you are right at the project README its correct.

But if you happen to be sent to the higher ranked google page https://github.com/Azure/container-scan/releases then you get whitelist.yaml :)

Need to finish some other work but will be back with debug logs

[2021-04-21 23:15] akphi opened #77 "Strange placement of [container-scan] action in actions page"
Hi,

I have been using this action [in my project CI](https://github.com/finos/legend-studio/blob/master/.github/workflows/check-docker.yml#L37): here you `container-scan` is called within `Docker` workflow. However, I start noticing that if you go through my commit history, I start seeing `container-scan` showing up under other workflows. Take [this one](https://github.com/finos/legend-studio/run

[2021-04-26 06:39] shigupt202 commented on #76
I have fixed the release documentation as well. Let me know if you're still having trouble using the allowedlist file. (In that case, it'd be helpful if you could share the debug logs to understand the issue better)
Regarding the feature request, we'll add it to our backlog. If we hear for this request from more users, we'll try to prioritize it.

[2021-04-28 10:15] shigupt202 commented on #76
Closing the issue. Feel free to reopen if you're still having issues with allowedlist file.

[2021-04-28 10:15] #76 closed

[2021-06-04 11:27] Smuu opened #84 "Settings when action should return error"
Currently the action only return an error code, when the trivy scan return an error.

It would be helpful to set the severity/level for the vulnerabilities/best-practices when the action should return an error.

[2021-06-04 12:30] Smuu opened #85 "Action can't scan image when docker context is set"
I logged in using the action `azure/docker-login@v1`. I would assume that this action then can scan images from the registry I logged in there.
But in fact I need to pass the `username` and `password` field for this action to scan images.

Edit: It seems, that Trivy uses the docker context but Dockle does not.

[2021-06-08 07:12] ajinkya599 commented on #84
Hi @Smuu, it is not clear what is the desired outcome here. Can you please share an example to help us understand the use case better.

[2021-06-15 09:52] ajinkya599 commented on #84
Closing this issue. Please feel free to re-open with more details.

[2021-06-15 09:52] #84 closed

[2021-06-18 15:08] mindflayer opened #92 "An error occurred while scanning container image: <TAG> for vulnerabilities"
Hi there,
after replacing the base image I've started having this problem:
[code]
The previous one was `python:3.9-slim` and the current one is `ubuntu/ubuntu:impish-21.10_edge`.

I am testing out a hardened Docker image from Canonical: https://ubuntu.com/security/docker-images
I am assuming this is the root cause just because it is the only big thing I changed today.

The image I created works wi

[2021-06-22 08:42] ajinkya599 commented on #59
<ins>**CONTAINER SCAN - V1**</ins>

Container Scan GitHub action has been in v0 for about a year now. Here’s a bunch of enhancements we’re proposing to make the experience of customers better.

<ins>**CREW**</ins>:
@ajinkya599
@ds-ms
@shigupt202

<ins>**PROBLEM STATEMENT**</ins>:
Let’s say you are to scan `image1` and `image2` in your container registry. Your snippet of workflow currently would lo

[2021-06-22 08:43] ajinkya599 commented on #59
Captured the proposal based on internal discussion above, for visibility.

[2021-06-22 08:53] ajinkya599 commented on #92
Hi @mindflayer, this action uses `trivy` underneath to scan the container images.
The error seems to be coming from `trivy`. Can you please [enable debug logs](https://docs.github.com/en/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging) to get more details and open an issue on the [trivy repo](https://github.com/aquasecurity/trivy)?

[2021-06-22 10:22] mindflayer commented on #92
It's interesting because it does not happen if I install `trivy` locally and `docker pull` my image.

[2021-06-22 10:40] mindflayer commented on #92
With the debug enable it does not say much more, unfortunately.
![Screenshot from 2021-06-22 12-39-25](https://user-images.githubusercontent.com/527325/122910900-05ed8600-d357-11eb-9240-b91def005a6b.png)

[2021-06-22 10:55] mindflayer commented on #92
I found the problem. We are using `docker/build-push-action@v2` for building and pushing our images.
The settings `load` needs to be set to `true` to allow your action to scan properly.
Also, since at the moment `push` and `load` cannot be set both to `true` due to
[code]
I had to leave only `load` and "manually" push after the scan.

[2021-06-22 10:55] #92 closed

[2021-06-25 18:25] akphi commented on #77
Hi, did you manage to take a look at this, I think this is still happening.

[2021-06-30 08:37] ajinkya599 commented on #77
Hi @akphi, I have raised this issue internally and it is being discussed. The source of the issue is the tight coupling between check runs and actions service. At this point, it is not clear how this problem can be solved. I will update this issue when I get  more details.

[2021-07-14 12:45] akphi commented on #77
@ajinkya599 Thank you for your response! Could you mark this as a bug or do something to make this `non-stale`?

[2021-07-20 09:02] ajinkya599 commented on #59
Closing as this is captured in the [v1 proposal](https://github.com/Azure/container-scan/blob/master/docs/proposals/v1-proposal.md).

[2021-07-20 09:02] #59 closed

[2021-07-27 08:24] ajinkya599 commented on #85
As mentioned in the issue `Trivy` honours the Docker login context.
`Dockle` works if login is done using `docker login` command, however when `DOCKER_CONFIG` is set otherwise (ex. using `azure/docker-login` action), `Dockle` doesn't work as the path is not the default Docker config path.

There is an open issue on the Dockle repo:
https://github.com/goodwithtech/dockle/issues/87

@Smuu I would en

[2021-07-27 08:24] #85 closed

[2021-08-03 14:59] akphi commented on #77
commenting to keep it non-stale

[2021-08-09 23:29] robert-scheck opened #95 "SARIF support?"
Is there any chance for SARIF support (SARIF-compatible output file)? That would allow to use `github/codeql-action/upload-sarif@v1` in workflows, e.g.:

[code]

See also: https://docs.github.com/en/code-security/secure-coding/integrating-with-code-scanning/uploading-a-sarif-file-to-github

[2021-08-10 08:28] ajinkya599 commented on #77
Hi @akphi, We had a discussion with the checks/actions team on this.
This issue is inherent due to how the checks are designed, which is - each app gets its own check suite(s) and there is no way to associate a new check run to a particular check suite.
Unfortunately, this is not how the checks team expected it to be used and this behaviour cannot be incorporated in the design.

I would recommend

[2021-08-11 02:45] akphi commented on #77
Sure thing! I don't quite get the explanation, but I take it as a `won't-fix` for now. I will try out `scanitizer` as you recommended. My question is though, currently I setup the scan in a github actions, if I install `scanitizer`, do I need to remove that action or so?

[2021-08-11 02:45] #77 closed

[2021-08-17 08:04] ajinkya599 commented on #95
@pulkitaggarwl - Seeking your thoughts on this feature request.

[2021-08-19 04:46] jirarot-ka opened #97 "Error: Table data must not contain control characters."
I got error message while scan image type script using node10 alpine base image.
action runner is Ubuntu 20.04
I also try using trivy command on my local machine(mac) to scan this image but not found this kind of error.
[code]

[2021-09-02 15:51] csmcallister opened #98 "Option to exclude base image?"
Is there an option to exclude the base image for a scan akin to the`--exclude-base` option available in the `docker scan` cli? Here's the [relevant docker scan doc section](https://docs.docker.com/engine/scan/#supported-options).

[2021-09-09 15:40] tomoyamachi commented on #85
@Smuu @ajinkya599
I fixed it.

[2021-09-10 20:15] timmeinerzhagen opened #99 "Available for commercial use?"
Trivy uses vulnerability database sources, that are only licensed for non-commercial use. They state this at the bottom of [the Trivy overview page](https://aquasecurity.github.io/trivy/v0.17.0/) and there is an issue open on this aquasecurity/trivy#491.

As this action uses Trivy, I would assume it is also not available for use within commercial applications, right?

[2021-09-21 07:56] ajinkya599 commented on #97
Can you please [enable debug logs](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging#enabling-step-debug-logging) and share the output?

[2021-09-21 08:06] ajinkya599 commented on #98
This action uses Trivy for scanning the container images. At this point Trivy doesn't seem to support this.
You may want to open a request upstream.

[2021-09-21 08:06] #98 closed

[2021-09-21 08:11] ajinkya599 commented on #99
@pulkitaggarwl Can you please look into this query?

[2021-09-21 13:03] csmcallister commented on #98
Thank you for the clarification @ajinkya599

There's already an upstream issue for this in case others are interested: aquasecurity/trivy/issues/1198

[2021-09-22 03:04] pulkitaggarwl commented on #99
@azooinmyluggage / @Nagi-MSFT  can you share some guidance here ?

[2021-09-22 20:05] azooinmyluggage commented on #99
I think we should abide by the terms that Aqua has defined.
1. Add a disclaimer in this Actions readme right away. @ajinkya599 and @pulkitaggarwl can you do it right away?
2. Work with MSFT legal team on guidance. I will loop in ASC team to figure out the right long term solution.

[2021-09-24 15:49] pampatzoglou opened #102 "SEVERITY FATAL escapes the severity-threshold"
I just saw some builds that have a severity labeled by the container scan as FATAL but the action doesn't acknowledge this as a problem.
`║ VULNERABILITY ID          │ TITLE                     │ SEVERITY        │ DESCRIPTION                                             ║
║ CIS-DI-0010               │ Do not store credential   │ FATAL           │ Suspicious file extension found :

[2021-09-28 22:36] aaron-pham opened #103 "When using this action - Failing to download DB"
Hi, I am attempting to use this github action, but it seems to be failing on  getting the trivy DB (?). I am using a self hosted runner, and tested on that machine if I am able to curl that url `curl https://api.github.com/repos/aquasecurity/trivy-db/releases`, this does return data.

I am kind of confused on the error, it's saying `401 Bad credentials []`, but I don't give this github action any

[2021-10-06 18:03] craftyc0der opened #104 "trivyOutputJson.forEach is not a function"
I am having 100% failure rate with new and formerly functioning builds with this plugin. It exits with:
[code]
I've gone to other public repos that use this plugin and see the same errors in their pipelines that worked as late as yesterday afternoon.

Example:
https://github.com/StatCan/aaw-kubeflow-containers/runs/3815148249?check_suite_focus=true

[2021-10-06 18:15] dagrover-dev commented on #104
I am also facing this issue. Since around 3:00am this morning all runs having been failing with the error given above.

It seems a couple days ago trivy updated their json schema: https://github.com/aquasecurity/trivy/commit/b37f682ee243d4f7bf5ef83cca53d70aa36d7f5f

The error for me coincides with this commit: https://github.com/aquasecurity/trivy/commit/f12446d3ba26b89f5c443abcd5aee2bad2dea1c8

[2021-10-07 07:33] spol-vt commented on #104
Same here, everything worked OK for weeks, then suddenly as of yesterday getting this error on every run.

[2021-10-07 19:47] ajinkya599 commented on #104
I have updated the action. Can someone please try and share if it works now?

[2021-10-08 07:11] abelsromero commented on #104
@knqyf263 OSS mantainer myself for years I am lost here. I am well aware of these practices and that why agree with you about pinning versions instead of using "latest" as you pointed out. Either that, or clearly state this is still in developemnt and subject to breakage to keep expectations, I am happy with any of those.

For context, I was suggested to use this action by an official Azure team t

[2021-10-11 17:34] pulkitaggarwl commented on #95
thanks @robert-scheck  for raising the ask. we dont have this as part of our backlog currently. would you be willing to contribute to the action to add this functionality.

[2021-10-13 09:20] Viktork25 opened #109 "FATAL scan error: image scan failed: failed analysis:"
Hello all,

I have issues using the Azure Container-Scan Github Action. I would like to scan an image but I am getting the following error:

"Error: FATAL	scan error: image scan failed: failed analysis: analyze error: timeout: context deadline exceeded"

Any idea of why is happening?

[2021-10-13 11:05] dpomaresp commented on #109
I open a [PR](https://github.com/Azure/container-scan/pull/110) to fix this issue

[2021-11-01 04:54] ajinkya599 commented on #97
Closing as idle.
Please feel free to re-open with the said data if the issue persists.

[2021-11-01 04:54] #97 closed

[2021-11-06 20:34] rm3l commented on #95
Hi there !
I was also interested in this feature. Before seeing this issue, I set out to build [this other Action](https://github.com/rm3l/container-scan-to-sarif-action) to convert the output to SARIF.
It should therefore be possible to support SARIF by adding a new step in your Workflows, like so:
[code]

Let me know your thoughts about this.

[2021-11-30 21:12] bramvdklinkenberg opened #112 "Defender for ACR - CI/CD scan result not shown"
I am scanning my docker image at build time with the github action [Container Image Scan](https://github.com/marketplace/actions/container-image-scan), but the CI/CD scan results do not show in Defender.

You can see in this [run](https://github.com/bramvdklinkenberg/vulnerability-scanning/runs/4372560888?check_suite_focus=true) that the scan was successful and found enough vulnerabilities (medium

[2021-12-02 08:44] bramvdklinkenberg commented on #112
Hi @jldeen @Josh-01 , do you might have a clue?

[2021-12-14 10:18] #104 closed

[2021-12-17 14:11] JeffreyArt1 opened #117 "Action could not find allowedlist file."
I placed the `allowedlist.yaml` under the specified directory `.github/containerscan`, and also installed the [Scanitizer](https://github.com/apps/scanitizer).

Here's how my file looks like
[code]

Run output (first lines):
[code]

[2021-12-22 05:20] koushdey commented on #102
@pampatzoglou Looking into it. We didn't have any mapping of FATAL in our action yet. Will check on the FATAL category and if require update our mapping.

[2021-12-22 05:35] koushdey commented on #102
I checked the docs for [Trivy](https://github.com/aquasecurity/trivy) but didn't find much detail on severity levels. But they offer a Trivy action whose [README](https://github.com/aquasecurity/trivy-action/blob/master/README.md) doesn't have FATAL as a severity category in action inputs. Can you verify once if the issue can be reproduced for you? If yes, we need to check with Trivy on the new se

[2021-12-22 05:37] koushdey commented on #109
@dpomaresp Commented on the PR. Can you please have a look at it?

[2021-12-23 07:04] koushdey commented on #103
Hello @aaron-pham, I have looked into this issue. Instance of 401 error is not reported by some of our other users yet. Can you confirm if the issue is still occurring?

[2021-12-23 10:31] koushdey commented on #112
Hello @bramvdklinkenberg, I looked into it. But the actions that should be in concern here is [Azure/publish-security-assessments](https://github.com/Azure/publish-security-assessments). Can you try running your workflow again with  `ACTIONS_STEP_DEBUG` as `true` and share the run details with me?

[2021-12-23 10:33] koushdey commented on #99
Hey @azooinmyluggage, any chance you got in touch with the legal and ASC team?

[2021-12-28 17:03] koalaty-code commented on #117
@JeffreyArt1 I was having the same issue with GH Actions and it was because I was missing a step to checkout the repo in the `container-scan` job. I added the following and `container-scan` was able to detect the `allowedlist.yaml` file as expected:

[code]

[2021-12-28 17:56] JeffreyArt1 commented on #117
@koalaty-code huge thanks man, its solved. Now I think that it's a bit of common sense to include the checkout step, but it'll be nice if it's specified in [this](https://github.com/Azure/container-scan#ignoring-vulnerabilities) section.

[2022-01-05 19:56] #117 closed

[2022-01-07 21:21] azooinmyluggage commented on #99
@koushdey Please add a disclaimer in this Actions readme right away.
I am escalating with ASC team.

[2022-01-10 09:55] koushdey commented on #99
@azooinmyluggage I think the disclaimer is already added by @ajinkya599 as part of #101

[2022-01-10 22:59] azooinmyluggage commented on #99
Thanks. I have reached out to my previous point of contact i ASC team as there has been no response from Raj

[2022-01-11 13:09] azooinmyluggage commented on #99
Update from ASC team

[2022-01-11 20:16] abelsromero opened #119 ""unable to initialize a scanner""
We have been seeing this error more and more lately and we wonder if this is related to the action or is github infra. Any suggestion would be greatly apreciated.

[code]

[2022-01-17 08:31] koushdey commented on #119
@abelsromero Can you share the screenshot of the log or share the run log url? Are you still facing this issue? Have you recently onboarded to container-scan action?

[2022-01-17 08:34] koushdey commented on #102
Closing this issue due to inactivity. If you are still in need of assistance on this kindly reopen with requested response.

[2022-01-17 08:34] #102 closed

[2022-01-17 08:34] koushdey commented on #103
Closing this issue due to inactivity. If you are still in need of assistance on this kindly reopen with requested response.

[2022-01-17 08:34] #103 closed

[2022-01-17 08:35] koushdey commented on #109
Closing this issue due to inactivity. If you are still in need of assistance on this kindly reopen with requested response.

[2022-01-17 08:35] #109 closed

[2022-01-17 08:35] koushdey commented on #112
Closing this issue due to inactivity. If you are still in need of assistance on this kindly reopen with requested response.

[2022-01-17 08:35] #112 closed

[2022-01-18 09:50] abelsromero commented on #119
That's the only log that is shown. But whatever it was it hasn't happened lately.

[2022-01-26 10:12] itaysk commented on #99
Hello, this is Itay Shakury from Aqua Security. as you can see in linked issue (https://github.com/aquasecurity/trivy/issues/491), the reason for this notice is just the SafetyDB vulnerability feed, but I'm happy to share that Trivy no longer depends on it. This is already merged and the next release of Trivy will remove this commercial restriction notice. In general, Trivy (as all of our OSS) is

[2022-01-26 11:48] azooinmyluggage commented on #99
Thanks @itaysk That is great to know.

[2022-01-28 00:04] fraserc182 opened #120 "Error when trying to scan public image"
I am seeing the following error when trying to implement a simple scan of an image.
Snippet is:

[code]

Full logs are attached
[logs_10.zip](https://github.com/Azure/container-scan/files/7954641/logs_10.zip)

The github action looks like:

[code]

Any help would be appreciated!

[2022-01-31 03:52] aneisch commented on #97
I'm seeing this issue on my action currently.

[2022-01-31 06:59] koushdey commented on #119
May be an intermittent issue with the docker scanner. Closing the issue as it has not appeared lately.

[2022-01-31 06:59] #119 closed

[2022-01-31 08:51] koushdey commented on #120
This issue is appearing in Trivy as per logs. Possibility of an intermittent issue since I have seen similar issue reported before but got fixed on its own. Are you still facing the issue?

[2022-01-31 09:26] fraserc182 commented on #120
Hi @koushdey, I tried it again this morning and the same issue occurs.

[2022-01-31 18:00] scottwestover opened #122 "Error when scanning image - Trivy - No help topic for image name"
I am seeing the following error logs when trying to scan an image:

[code]

I think this issue might be tied to the latest release of trivy: `0.23.0`. In this release, there were breaking changes: https://github.com/aquasecurity/trivy/discussions/1652, where the `trivy` command is no longer supported and you must use `trivy image`.

Here is an example snippet of my current GitHub Workflow file:

[

[2022-01-31 18:46] rohank07 commented on #122
Also getting the same error

[2022-01-31 19:05] Viktork25 commented on #122
Getting the same issue when I am trying to scan the image. I have open the debug in my Github Action and you can see below the issue that I get:

`##[debug]Downloading https://api.github.com/repos/aquasecurity/trivy/releases/latest
##[debug]Downloading /home/runner/work/_temp/5f8ee519-b302-46e3-b940-934302f53f1c
##[debug]download complete
##[debug]isExplicit: 0.23.0
##[debug]explicit? true
##[debu

[2022-01-31 20:47] patrick-stephens commented on #122
Same here, if it is a Trivy version issue it would be good to be able to pin that version in future.

[2022-01-31 23:03] larryclaman commented on #95
+1 to this request; would like to see sarif output so I can upload the results to GitHub Advanced Security.
I would imagine that it would be trivial to add this feature, as this action uses the trivy scanning engine, and there's another trivy scanning action that indeed has sarif output:  https://github.com/aquasecurity/trivy-action

[2022-01-31 23:23] larryclaman opened #124 "Is scanitizer still an actively maintained project?"
The container-scan docs say *Install Scanitizer (currently in Beta) on your repository for more convenient management of allowedlist file.*
The link for Scanitizer takes me to https://github.com/apps/scanitizer, but there's virtually no information on this page.  There's a link on that page that is supposed to be the scanitizer repo (https://github.com/github/scanitizer/), but that link returns a

[2022-02-01 14:04] raoganeshr opened #126 "Can a few lines be added on how the scanners are downloaded/installed and note of scan results are not cached"
I believe this runner downloads a fresh copy of the scanner, scans, downloads the vul database, publishes the results and then everything is lost.

Is this understanding correct? If so, can a couple of lines be added to mention the same?

[2022-02-01 16:30] lloydnye commented on #122
I think pinning the version, or at least making it configurable as an input is the right thing to do.

The underlying issue looks to be a breaking change from trivy which changes the command from `trivy` to `trivy image`
https://github.com/aquasecurity/trivy/discussions/1515

I think it could be a simple change here https://github.com/Azure/container-scan/blob/580b077b44ccdff6a6d28e4ab82231cfd96eb

[2022-02-01 21:12] JeffreyArt1 opened #127 "`Error: An error occurred while scanning container image`"
I'm having issues while running the action.

Tested with two different images hosted on Azure Container Registry.

[code]

Any additional info, let me know.

[2022-02-01 21:15] JeffreyArt1 commented on #127
Closing it because is the same as #122

[2022-02-01 21:15] #127 closed

[2022-02-02 14:07] larryclaman commented on #120
Just a wild guess; is it possible that you are running into docker hub rate limiting?
https://www.docker.com/increase-rate-limits
Perhaps try adding a _docker login_ step to your workflow using a dockerhub username & password?

[2022-02-03 05:25] #122 closed

[2022-02-03 06:25] koushdey commented on #122
Updated the binaries in `v0` and `v0.1`. Please verify.

[2022-02-03 06:33] koushdey commented on #120
Updated the binaries. Please verify.

[2022-02-03 08:39] fraserc182 commented on #120
Hi, tried again and same error.

[2022-02-03 11:30] fraserc182 commented on #120
Sorted this, after fixing a syntax issue.

Thanks for the help with this.

[2022-02-03 11:30] #120 closed

[2022-02-03 13:13] koushdey commented on #124
@larryclaman Scanitizer is internal to GitHub org hence you are not able to see the repo contents. But yes we maintain it. Is there any concern you want to share?

[2022-02-03 13:37] larryclaman commented on #124
@koushdey It's really just a general level of comfort that I'm looking for.  As I noted, the guidance for container-scan advises me to run scanitizer to maintain my CVE lists.  As far as I can tell, there's **ZERO** documentation about scanitizer; the page at https://github.com/apps/scanitizer is devoid of any useful info (see screenshot below) such as faq, version, last updated, etc,  and the lik

[2022-02-03 14:31] scottwestover commented on #122
@koushdey Thank you for reviewing and releasing the updates. Both `v0` and `v0.1` are working for me.

[2022-02-04 20:30] larryclaman opened #131 "Latest update needs a labeled release"
The PR #29  was fix for a breaking change; however the repo owners neglected to create a versioned [release ](https://github.com/Azure/container-scan/releases) for this code, meaning that anyone using it will need to refer to it by commit hash (yuck).  eg `uses: azure/container-scan@b5317f7365a8e3aab8e35d97e932d105ad2ed4e8`

Repo owners, please create a labeled release for this latest update.

[2022-02-04 20:36] larryclaman opened #132 "Latest code fails with error: Cannot find module '@actions/core'"
I'm trying the latest code from PR #29 but the action is failing with an error:

[code]

[2022-02-06 06:07] joshuanianji commented on #132
I had the same issue as I was using hashes to reference the package, but I switched to using `azure/container-scan@v0.1` and it worked. Not sure why it wasn't working with the hashes, though.

The devs updated the binaries for `v0.1` and `v0`, so using those still work.

[2022-02-07 07:29] koushdey commented on #132
@larryclaman Can you refer to the comment from @joshuanianji ? ☝🏾

[2022-02-07 08:14] koushdey commented on #99
I think we are good to close this issue based on comments from @itaysk.

[2022-02-07 08:14] #99 closed

[2022-02-07 08:28] koushdey commented on #131
I am not sure why are you using the commit hash. The commit you shared is for latest commit on master branch. The same changes are already upto date on [release branch](https://github.com/Azure/container-scan/commits/releases/v0) and releases (pls refer screenshot below).
![Screenshot 2022-02-07 at 1 51 35 PM](https://user-images.githubusercontent.com/57134947/152750738-cdc067bc-b5f9-4d41-8e28-4a1

[2022-02-07 08:28] #131 closed

[2022-02-07 08:29] #132 closed

[2022-02-07 13:00] larryclaman commented on #132
Understood....I had (mistakenly) assumed that when this bug was fixed, the version number would be bumped to reflect the change.    (I also had not noticed that the tagged releases V0 and v0.1 are on a separate release branch, not the master branch).

Not how I would have done it (I would have bumped the release number) but <shrug>, I guess it works, except that the date shown on the **releases**

[2022-02-07 13:04] larryclaman commented on #131
Hi @koushdey, as I mentioned in the other issue, the fact that the releases were 'bumped' to reflect the latest code is what confused me, plus the fact that the date did not get updated on the release page (See screenshot)

In other words, if I understand correctly, the two pinned releases v0 and v0.1 contain the latest fix for the breaking change in trivy.  Yet the dates showing for these release

[2022-02-07 15:01] gopurx opened #133 "Receiving error while scanning a image"
Tried using both v0 and v0.1 and consistently receiving this error message while running the action.

[code]

[2022-02-07 17:32] a-rhote commented on #133
We've also been seeing this issue for the past few days. Any pointers on potential trouble shooting ideas, or paths forward would be much appreciated.

[2022-02-08 11:44] koushdey commented on #131
@larryclaman This is something that has to be raised with the Github Marketplace team. The date is from the time when the release was created

[2022-02-12 13:01] ronanbrowne commented on #133
Also seeing this

[2022-02-12 13:05] ronanbrowne commented on #133
After a bit of diffing it seems the issue is this breaking change https://github.com/aquasecurity/trivy/discussions/1515

Later versions need to use "trivy image"

e.g. the following works

docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
                                                      -v $HOME/Library/Caches:/root/.cache/ aquasec/trivy image python:3.9-slim-buster

[2022-02-15 03:56] Namyalg opened #135 "Warning when scanning containers"
A scan on containers, is returning such a warning.

Warning: An error occurred while creating the check run for container scan. Error: Error: An error occurred while creating scan result. Statuscode: 403, StatusMessage: Forbidden, head_sha: (sha mentioned)

[2022-02-22 10:43] koushdey commented on #133
@gopurx Are you still facing this issue?

[2022-02-22 10:45] koushdey commented on #135
@Namyalg Are you still facing the issue? Can you share logs or run URL? It would be better if you can run the workflow in debug mode to get detailed logs.

[2022-02-22 14:52] JeffreyArt1 opened #136 "Error: Failed to download dockle"
I'm presenting issues when scanning an ACR image.

This is the action output:
[code]
I've tested the link and actually works.

[2022-02-22 14:56] gopurx commented on #133
@koushdey  Yes, I am experiencing this error. Latest is yesterday. Observation is the image scan outputs when there are CVEs to respond and action error out when there are no CVE to respond.

[2022-02-23 21:54] #136 closed

[2022-02-25 13:03] Namyalg commented on #135
![image](https://user-images.githubusercontent.com/53875297/155719572-c3467e6b-b6f8-4151-9f39-4fdec0856ac8.png)

This is the snapshot of the complete error, this is the run URL : https://github.com/moja-global/FLINT.Reporting/runs/5318206799?check_suite_focus=true

[2022-02-25 17:12] gopurx commented on #133
Any update on this issue, want to check if I am the only one receiving this error?

[2022-02-25 21:20] a-rhote commented on #133
I'm also still seeing it on my scans.

[2022-02-27 14:30] hhwagner commented on #135
#71 ? got the same error

[2022-02-27 14:54] Namyalg commented on #135
Yes, its the same

[2022-02-28 07:59] koushdey commented on #133
@gopurx @a-rhote Can you mention the versions you are running? So that I can verify if the fix is present on the version or not. This issue is not reported by many recently.

[2022-02-28 08:00] koushdey commented on #135
@Namyalg Can you check if Scanitizer app is installed on your repo or not?

[2022-02-28 08:10] Namyalg commented on #135
I installed it in the repository which is running the action, I still get the same error

[2022-02-28 14:18] a-rhote commented on #133
[code]
This is what we're using in our ci action definition

[2022-02-28 14:31] gopurx commented on #133
@koushdey, I tried both v0 and v0.1.

      uses: Azure/container-scan@v0
      with:
          image-name: <my image>:<tag>

[2022-03-08 08:15] koushdey commented on #133
Is it possible to share the image name and tag name used in the action? It's possible that we are getting the issue due to some chars in the input.

[2022-03-08 15:58] a-rhote commented on #133
@koushdey
Sure it's `dev_people_api:<git commit hash>`

[2022-03-24 11:11] shyam-ks opened #137 "Error: Error while parsing allowedlist file. Error: TypeError: Cannot read property 'general' of undefined"
Run Azure/container-scan@v0
  with:
    image-name: ghcr.io/xxxxxxxx/fxxxxxx:1.0.46-64eae5a
    username: xxxx
    password: ***
    severity-threshold: HIGH
    token: ***
    run-quality-checks: true
  env:
    GHCR_REPO: ghcr.io/bentlynevada-bh
Error: Error while parsing allowedlist file. Error: TypeError: Cannot read property 'general' of undefined

[2022-03-24 18:20] aneisch commented on #133
I "fixed" this with by disabling quality checks:

[code]

[2022-03-24 18:52] gopurx commented on #133
thanks @aneisch for the workaround. Hope we will have a fix for using CIS quality check

[2022-03-28 06:30] raoganeshr commented on #124
@koushdey Same issue here. Is scanitizer not meant to be used by folks outside Microsoft? If so, can this comment be added to container-scan readme? if not, can some documention be provided on how to use scanitizer to manage the allowlist?

![image](https://user-images.githubusercontent.com/88204915/160339051-3894dd62-5921-4074-b24b-9b3557bbc0e1.png)

[2022-03-28 11:13] koushdey commented on #124
@raoganeshr @larryclaman I will discuss on this with the PM as to what info can we share about the scanitizer app. I agree a documentation is needed here. Will get back with an update.

[2022-03-28 11:15] koushdey commented on #137
Have you installed scanitizer app in your repo?

[2022-03-28 11:17] shyam-ks commented on #137
Yeah. that was the issue. Removed it, Thanks

[2022-03-28 11:17] #137 closed

[2022-04-11 10:40] koushdey commented on #135
@Namyalg I checked the [latest runs](https://github.com/moja-global/FLINT.Reporting/actions/runs/2145538260) and I see no container scan errors. I feel it was intermittent issue. Closing it as the issue is mitigated.

[2022-04-11 10:40] #135 closed

[2022-04-11 13:03] larryclaman commented on #124
Hi @koushdey any update on this?

[2022-04-13 06:07] KEINOS commented on #133
Edit 2022/22/29: I just re-read my post and realized that my case and the OP's case are different. So I have edited it.

<details><summary>Case of <code>Statuscode: 403, StatusMessage: Forbidden</code></summary>

[code]

Same here on both `v0` and `v0.1` but **fixed by removing the below from the workflow's YAML**.

[code]

In my case, **it was because I had mixed the steps with other Actions that

[2022-05-05 17:32] mo-at-dave commented on #61
@mateus-amarante - how did you pass that in your CI?

[2022-05-09 21:51] larryclaman commented on #124
@koushdey any update?

[2022-05-24 15:08] olarende-tink opened #141 "Set output variable with boolean scan result"
Currently, the container-scan step sets the output variable `steps.container-scan.outputs.scan-report-path` which is useful for finding the report file for uploading purposes. However, I'd like to have an output showing whether the scan passed or failed (found/did not find vulnerabilities and best practice violations) so that I can use that as the input for a conditional expression in a later work

[2022-06-23 04:00] mo-at-dave opened #142 "Vulnerabilities were detected in the container image, but no vulnerabilities found"
I tested this with Trivy and Dockle and everything seems fine

![image](https://user-images.githubusercontent.com/61996142/175206158-712ebf5e-ac1e-4294-a632-5053737863c8.png)

[2022-06-23 04:19] sjgupta19 opened #143 "Vulnerability Scanner not showing vulnerabilities"
Hi,
We are using this in our ci workflow for looking at vulnerable packages. We have remediated all the packages and currently there is no vulnerability but it is still throwing an error  "_Vulnerabilities were detected in the container image_" and giving no information on the vulnerability.
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/105396748/175207858-bda23bf4-6

[2022-06-23 04:22] #142 closed

[2022-06-23 10:36] zifeo commented on #143
@sjgupta19 What happens if you run Trivy locally? Is the failing case a "secret" issue?

[2022-06-23 20:43] scottwestover commented on #143
I also started running into this issue today, and I think the issue is tied to the latest version of trivy: `0.29.2`.

Here are a few screenshots of the issue that I am seeing:
<img width="853" alt="Screen Shot 2022-06-23 at 4 26 02 PM" src="https://user-images.githubusercontent.com/9931822/175394646-ef302512-069c-48ff-8280-620a586f6a0e.png">
<img width="1005" alt="Screen Shot 2022-06-23 at 4 26 1

[2022-07-04 13:56] iamahern opened #146 "The Dockle component of the scanning tool is broken using ubuntu latest"
There is an upstream issue in the Dockle CLI where it is utilizing the `XDG_RUNTIME_DIR` variable to determine the docker host settings. See:
https://github.com/goodwithtech/dockle/issues/188

I was able to work around the issue by setting:

[code]

This is breaking Azure Container Scan for images that are not pushed to container registries on the current `ubuntu-latest` runner.

[2022-07-04 19:43] ThadRasmussen commented on #146
Thanks for raising this issue and providing a workaround.  This issue resulted in being unable so scan a locally build `docker` image and gave the errors:
[code]
Adding the work-around resolved the issue! 💯

[2022-07-14 19:46] grzesuav commented on #146
hi, I think it is resolved in dockle 0.3.0, so ultimate fix would be to update that dependency https://github.com/goodwithtech/dockle/issues/72#issuecomment-673855405 if I am not mistaken

[2022-08-15 15:59] Souheil-Yazji commented on #143
Hello,

It seems like we are encountering a similar issue where the container-scan step fails with
`Error: Vulnerabilities were detected in the container image
`
but produces no output

![image](https://user-images.githubusercontent.com/35379392/184670551-cb2f42ba-e6b8-4168-9e6a-c54667e93a24.png)

![image](https://user-images.githubusercontent.com/35379392/184670699-1aff52a7-5e88-48af-af98-9259fd9

[2022-08-19 16:04] KEINOS commented on #146
As of 2022/08/20, this problem is still occurring. Currently, @iamahern's solution is the only workaround.

- The error msg.

[code]

- The fix.

[code]

[2022-08-25 00:52] sjgupta19 opened #151 "Run locally"
How can I run it locally or with any other CI platform? Could you provide documentation around that?

[2022-08-25 03:31] Duceswild99 opened #152 "Unable to run scan in Github Actions"
Attempting to run:
[code]

Produces the following error:
[code]

Not doing anything special so not sure why this isn't working. It is worth noting this is a net new setup (so this has not worked before).

[2022-08-26 13:08] NordengenT commented on #152
I have the exact same problem. Notably I am trying to run the sacn on a docker tar file, the same you use when you load an image to docker, so I assume that is the correct for the scanner as well

[2022-08-29 13:17] jwasserman731 commented on #143
What is the path forward to address this issue?

[2022-09-05 15:42] krisha-vumc opened #154 "Error: FATAL image scan error"
We are getting image scan error for the pipeline we created

Pipeline is using **azure/container-scan@v0** to scan container

Once pipeline ran, it throws below error

**Error: FATAL image scan error: scan error: scan failed: failed analysis: analyze error: timeout: context deadline exceeded.**

It was noticed that this timeout error occurred after every 3 (approx) minutes, so we tried to increase

[2022-09-09 16:21] GL-KenDLG commented on #152
bump. still an active problem

[2022-09-09 16:21] Duceswild99 commented on #152
Bump. still an active problem

[2022-10-11 15:04] brianloss opened #155 "Update container-scan to use Node.js 16"
I was using Azure/container-scan and received a warning from GitHub:

It seems this action needs to be updated.

[2022-10-20 13:06] SecurityViber commented on #154
Hi there
~~Currently experience the same issue. For me the timeout already appeared after 5 min. Any news regarding this topic?~~
![image](https://user-images.githubusercontent.com/88305668/196956820-7add6f54-b3c1-474f-a83f-7743e7acdc38.png)

@krisha-vumc, btw many thx for this question ❤️ . Just realized, that I actually can just set the `TRIVY_TIMEOUT` environment variable as shown in the [Githu

[2022-10-20 18:38] krisha-vumc commented on #154
I am still facing the issue

[2022-10-21 06:48] SecurityViber commented on #154
@krisha-vumc, what is your error msg? Is it still based on the Timeout?

The config that worked for me was the following, probablly helps you out as well 😄

[code]

[2022-10-25 06:21] SecurityViber commented on #143
Hi There. Currently experiencing the same issue. Have any solutions be found yet for this issue? Would also be happy with a specific `trivy` version where this is not an issue. But as others this is a major pain point for me as well.

[2022-11-11 17:52] tripflex commented on #133
Confirmed this is still an issue

[2022-11-14 17:17] tripflex commented on #133
[code]

[code]

[2022-11-28 18:22] tripflex commented on #133
Still a problem ...